PORT=EXAMPLE_PORT_NUMBER
DB_URL= mongodb+srv://EXAMPLE_DB_USERNAME:EXAMPLE_DB_PASWORD@cluster0.vmt4q.mongodb.net/example-management?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=EXAMPLE_development_or_production